.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex: 1;
  border: 1px solid black;
}

.message-list {
  border: 1px solid red;
  list-style: none;
}

.chat {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex: 1;
}

.send-message {
  display: flex;
}

.send-message-input {
  flex: 1;
}

.mine {
  background-color: #afafaf;
  text-align: end;
}

.bold {
  font-weight: bold;
}